@page
@model WebApplication1.Pages.Admin.Products.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<int> myIntList = new List<int>();
    Layout = "_LayoutAdmin";
}
<h2>List of Products</h2>
<div style="font-weight:bold">
    @if (TempData["msg"] != null)
    {
        <span>@TempData["msg"]</span>
    }
</div>

<div class="filterCat">
    <form id="frmCate" method="get" style="float:none">
        <select name="cateId" onchange="ChangeCate()">
            <option value="0">All Category</option>
            @foreach (var c in Model.Categories)
            {
                @if (@ViewBag.SelectedId == @c.CategoryId)
                {
                    <option value="@c.CategoryId" selected>@c.CategoryName</option>
                }
                else
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            }
        </select>
    </form>
    <div class="addMovies">
        <button class="btn btn-success"><a href="/Admin/Products/Add" style="color: black">Add New Product</a></button>
    </div>
</div>
@{
    var products = Model.Products;
}
@if (ViewBag.productId != null)
{
    <p>@ViewBag.productId</p>
}
@if (@ViewBag.msg != null)
{
    <h1>@ViewBag.msg</h1>
}

<div>
    <div class="product1">
        <div style="width:18%">Image</div>
        <div style="width:22%">Name</div>
        <div style="width:15%">Price</div>
        <div style="width:15%">Quantity</div>
        <div class="ingredient">Category</div>
        @if (ViewBag.role == "Employees")
        {
            <div style="width:10%">Action</div>
        }
    </div>
</div>
@foreach (var p in products)
{
    <div class="product">
        <img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg">
        <div style="width:22%" class="name">@p.ProductName</div>
        <input type="hidden" name="productName" value="@p.ProductName">
        <div style="width:15%" class="price" data-price="@p.UnitPrice">@p.UnitPrice $</div>
        <input type="hidden" name="price" value="@p.UnitPrice">
        <div style="width:20%">@p.QuantityPerUnit</div>
        <div style="width:20%">@p.Category.CategoryName</div>
        @if (ViewBag.role == "Employees")
        {
            <div style="width:10%">
                <a asp-page="Edit" asp-route-catId="@ViewBag.SelectedId" asp-route-id="@p.ProductId">Edit </a>
            </div>
        }
    </div>
}

<style>
    img {
        height: 118px;
        width: 11%;
        margin-right: 97px;
    }

    .ingredient {
        width: 20%;
    }

    .product {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        height: 128px;
    }

    .product1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        height: 80px;
    }

    .addMovies {
        text-align: right;
        margin-bottom: 18px;
    }

    .filterCat {
        margin-bottom: 18px;
    }

    .addMovies_layout {
        border-radius: 5px;
        height: 36px;
        width: 187px;
    }
</style>
